<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://bootswatch.com/4/lux/bootstrap.min.css" rel="stylesheet">
    <title>Crud Nodejs Mysql</title>
    <!-- <style type="text/css">
        *{
            margin: 0;
            padding: 0;
        }
    </style> -->
</head>

<body style="letter-spacing: 0px;">
    <div class="container col-md-12">
        <nav class="navbar navbar-dark bg-dark d-flex justify-content-center slider">
            <a href="/" class="navbar-brand">Crud Nodejs Mysql</a>
        </nav>
    </div>
   